.card {
  width: 100%;
}

.exercise_table :global(.ant-table) {
  font-size: 14px;
}

.exercise_table :global(.ant-table-thead > tr > th) {
  padding: 8px 12px !important;
  font-size: 13px;
  font-weight: 600;
}

.exercise_table :global(.ant-table-tbody > tr > td) {
  padding: 8px 12px !important;
  font-size: 13px;
}
